@charset "utf-8";

@-ms-viewport {
    width: device-width;
}

html,
body {
    height: 100%;
}

/**
 *
 * Глобальные настройки наследуемых свойств
 * font-size: 14px
 */
html {
    font: 87.5%/1 "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;
    color: #333e50;
}


/**
 * Символ рубля
 */
.ruble-icon::before {
    content: "\20BD";
}


/**
 * Подсказака
 */
.help-hint {
    position: relative;
    padding-left: 18px;
}

    .help-hint::before {
        content: "?";
        position: absolute;
        top: 0;
        left: 0;
        width:  14px;
        height: 14px;
        line-height: 14px;
        font-size: 11px;
        text-align: center;
        color: #fff;
        background: #adadad;
        border-radius: 50%;
    }


/**
 * Центрирующий контейнер
 */
.main-container {
    margin-left:  auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left:  17px;
    padding-right: 17px;
}


/**
 * Строчная ссылка
 */
.text-link {
    position: relative;
    color: inherit;
    text-decoration: none;
    color: #18587a;
}

    .text-link::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid #d91a14;
        transition: .2s;
    }

    .text-link:hover::after {
        opacity: 0;
    }

    .text-link_internal::after {
        border-top-style: dashed;
    }


/**
 * Кнопки
 */
.button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 12px;
    border: 3px solid #da221c;
    font-size: 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #18587a;
    background: transparent;
    transition: .2s;
    cursor: pointer;
}

    .button:hover {
        color: #fff;
        background-color: #da221c;
    }

    .button__icon,
    .button__text {
        vertical-align: middle;
    }

    .button__icon {
        position: relative;
        top: -2px;
        fill: currentColor;
    }

    .button__icon + .button__text {
        margin-left: 4px;
    }

    .button_simple {
        font-weight: normal;
        border-color: transparent;
    }

        .button_simple .button__text {
            position: relative;
        }

            .button_simple .button__text::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-bottom: 1px dashed #d91a14;
            }

    .button_light {
        border-color: #c2c2c2;
        border-width: 2px;
        padding-top:    1px;
        padding-bottom: 1px;
        background-color: #fff;
        font-weight: normal;
    }

        .button_light:hover {
            color: inherit;
            background: #f2f2f2;
        }

    .button_full {
        width: 100%;
    }

    .button_wide {
        padding-left: 36px;
        padding-right: 36px;
    }

    /* размеры кнопок */
    .button_size_s {
        line-height: 25px;
    }

        .button_size_s .button__text {
            font-size: 14px;
        }

    .button_size_m {
        line-height: 32px;
    }

        .button__text,
        .button_size_m .button__text {
            font-size: 16px;
        }

    .button_size_l {
        line-height: 39px;
    }

        .button_size_l .button__text {
            font-size: 20px;
        }

    .button_size_xl {
        line-height: 46px;
    }

        .button_size_xl .button__text {
            font-size: 24px;
        }


/**
 * Чекбоксы и радиобатоны
 */
.control {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

    .control__input {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .control__icon {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 21px;
        height: 21px;
        border: 1px solid #cdcdcd;
        box-shadow: 0 3px rgba(0, 0, 0, 0.14) inset;
        background: #fff;
    }

        .control__icon::before {
            content: "";
            position: absolute;
            opacity: 0;
            color: #18587a;
            transition: .2s;
        }

        .control__input:checked + .control__icon,
        .control__input:focus + .control__icon {
            border-color: #d91a14;
            box-shadow: 0 0 0 1px #d91a14 inset;
        }

        .control__input:checked + .control__icon::before {
            opacity: 1;
        }

    .control_type_checkbox .control__icon::before {
        left: 10px;
        /*bottom: 6px;*/
        bottom: 10px;
        width: 6px;
        height: 20px;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

        .control_type_checkbox .control__input:checked + .control__icon::before {
            bottom: 6px;
        }

    .control_type_radio .control__icon {
        border-radius: 50%;
    }
    .control_type_radio .control__icon::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 9px;
        width:  1em;
        height: 1em;
        border-radius: 50%;
        background: currentColor;
    }


/**
 * Поле ввода
 */
.form-field {
    position: relative;
    display: block;
}

    .form-field__label {
        margin-bottom: 6px;
        display: block;
        font-size: 16px;
    }

    .form-field__control {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        height: 40px;
        padding: 0 12px;
        border: 1px solid #cdcdcd;
        font-size: inherit;
        box-shadow: 0 3px rgba(0, 0, 0, 0.14) inset;
        background: #fff;
        resize: vertical;
    }

    textarea.form-field__control {
        height:     130px;
        min-height: 80px;
        /*max-height: 130px;*/
        padding-top:    12px;
        padding-bottom: 12px;
    }

    .form-field__hint {
        display: block;
        vertical-align: top;
        padding-top:    6px;
        padding-bottom: 6px;
    }

    .form-field__message {
        position: absolute;
        top: 22px;
        left: 100%;
        margin: 0;
        margin-left: 9px;
        opacity: 0;
        visibility: hidden;
        box-sizing: border-box;
        max-width: 100%;
        width: 192px;
        padding: 9px;
        font-size: 12px;
        white-space: nowrap;
        color: #e31e24;
        background: #fff;
        transition: .4s;
    }

        .form-field__message::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 100%;
            margin: auto;
            border: 3px solid transparent;
            border-right-color: #fff;
            width: 0;
            height: 0;
        }

        @media (max-width: 1580px) {
            .form-field__message {
                position: relative;
                top: auto;
                left: auto;
                margin: 9px 0 0;
                width: auto;
            }

                .form-field__message::before {
                    top: auto;
                    bottom: 100%;
                    right: auto;
                    left: 16px;
                    border-color: transparent;
                    border-bottom-color: #fff;
                }
        }

    .form-field_error {}

        .form-field_error .form-field__message {
            opacity: 1;
            visibility: visible;
        }

        .form-field_error .form-field__control {
            background-color: #f7bebf;
        }


/**
 * Список контролов с отступами
 */
.field-list {}

    .field-list__item + .field-list__item {
        margin-top: 26px;
    }

/**
 * Группы полей
 */

.fieldset {
    margin: 0;
    border: 0;
}

    .fieldset__title {
        font-size: 20px;
        font-weight: bold;
    }

/**
 * Редактируемое поле
 */
.edit-trigger {
        position: relative;
        box-sizing: border-box;
        padding: 12px;
        height: 40px;
        border: 0;
        font-size: inherit;
        line-height: 1;
        color: #18587a;
        background: 0;
        cursor: pointer;
    }

        .edit-trigger::after {
            content: "";
            margin-left: 2px;
            display: inline-block;
            vertical-align: middle;
            width:  14px;
            height: 14px;
            background: url("../img/edit.png") no-repeat;
            opacity: .35;
            transition: .2s;
        }

        .edit-trigger:hover::before,
        .edit-trigger:focus::before {
            opacity: 0;
        }

        .edit-trigger:hover::after,
        .edit-trigger:focus::after {
            opacity: 0.8;
        }

        .edit-trigger__value {
            position: relative;
            vertical-align: middle;
        }

            .edit-trigger__value::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-top: 1px dashed #d91a14;
            }


/**
 * Сетка для контролов форм
 */
.field-grid {
    display: table;
    border-collapse: collapse;
}

    .field-grid_full {
        width: 100%;
    }

    .field-grid__row {
        display: table-row;
    }

    .field-grid__cell {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 24px;
    }

        .field-grid__cell:first-child {
            /*padding-right: 80px;*/
            padding-right: 30px;
            padding-top: 12px;
        }

        .field-grid__cell_shrink {
            width: 1px;
        }

        .field-grid__cell_reset,
        .field-grid__cell_reset:first-child {
            padding-top: 0;
            padding-right: 0;
        }

    @media (max-width: 768px) {
        .field-grid,
        .field-grid__row,
        .field-grid__cell {
            display: block;
        }

        .field-grid__cell {
            width: auto;
            padding-left: 0;
            padding-right: 0;
        }

            .field-grid__cell:first-child {
                padding-right: 0;
                padding-bottom: 12px;
            }

    }


/**
 * Табы
 */
.tabs {}

    .tabs-nav {
        margin-bottom: 28px;
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        box-sizing: border-box;
        border: 3px solid #e8e8e8;
    }

        .tabs-nav__item {
            display: table-cell;
            vertical-align: middle;
            /*padding: 7px 20px 6px;*/
            padding: 8px 20px;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            color: #18587a;
        }

        .tabs-nav__text {
            position: relative;
        }
            .tabs-nav__text::after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                right: 0;
                height: 1px;
                background: #d91a14;
            }

        .tabs-nav__item:not(.tabs-nav__item_active):hover .tabs-nav__text {
            color: #d91a14;
        }

        .tabs-nav__item_active {
            background: #d91a14;
            color: #fff;
        }

        .tabs-nav__item_active .tabs-nav__text::after {
            background: none;
        }

        .tabs-nav_full {
            width: 100%;
        }

    .tabs-content {}

        .tabs-content__pane {
            display: none;
        }

            .tabs-content__pane_active {
                display: block;
                animation: showTab 1s both;
            }

            @keyframes showTab {
                from { opacity: 0; }
            }

    @media (max-width: 480px) {
        .tabs-nav__item {
            font-size: 14px;
        }
    }

    @media (max-width: 420px) {
        .tabs-nav__item {
            padding-left:  12px;
            padding-right: 12px;
            font-size: 12px;
        }
    }


/**
 *  Модальные окна bootstrap
 */
.modal-open {
    overflow: hidden;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    outline: 0;
}

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;
        background-color: rgba(51, 62, 80, 0.83);
    }

        .modal-backdrop.fade {
            opacity: 0;
            transition: .4s;
        }

            .modal-backdrop.fade.in {
                opacity: 1;
            }

    .modal::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .modal .close {
        position: absolute;
        top: 0;
        left: 100%;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        box-sizing: content-box;
        padding: 0;
        text-align: center;
        border: 3px solid;
        border-left: 0;
        width:  36px;
        height: 36px;
        color: #9badb7;
        background: 0;
        transition: .2s;
        cursor: pointer;
    }

        .modal .close::before,
        .modal .close::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 5px;
            height: 27px;
            background: currentColor;
        }

        .modal .close::before {
            transform: skewX(34deg);
        }

        .modal .close::after {
            transform: skewX(-34deg);
        }

        .modal .close:hover,
        .modal .close:focus {
            border-color: #e31e24;
            color: #e31e24;
            outline: 0;
        }

    .modal-dialog {
        margin: 48px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        font-size: 1rem;
        font-size: 14px;
        text-align: left;
        transition: .4s;
    }

    .modal-content {
        box-sizing: border-box;
        padding: 24px;
        color: #333e50;
        background-color: #fff;
    }

    .modal-header {}

        .modal-title {
            margin: 0;
            font-size: 28px;
            font-weight: bold;
        }

    .modal-body {
        padding-top: 32px;
    }

    .modal-footer {
        padding-top: 32px;
    }

    .modal.fade {
        opacity: 0;
        transition: opacity .4s;
    }

        .modal.fade.in {
            opacity: 1;
        }

    .modal.fade .modal-dialog {
        transform: translateY(-100px);
    }

        .modal.fade.in .modal-dialog {
            transform: translateY(0);
        }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }


.auth-modal-dialog {
    width: 400px;
    vertical-align: top;
}

.modal-message {
    padding: 35px 51px
}


/**
 * Навигация в виде табов
 */
.sub-nav {
    margin: 0 0 42px;
    padding: 0;
    list-style: none;
    box-shadow: 0 -1px #c2c2c2 inset;
}

    .sub-nav::after {
        content: "";
        display: table;
        clear: both;
    }

    .sub-nav__item {
        float: left;
    }

        .sub-nav__item:not(:last-of-type) {
            margin-right: 32px;
        }

    .sub-nav__link {
        display: block;
        padding: 8px;
        font-size: 20px;
        text-decoration: none;
        color: inherit;
    }

        .sub-nav__link:hover {
            color: #18587a;
        }

        .sub-nav__item.active .sub-nav__link {
            color: #d91a14;
            font-weight: bold;
            box-shadow: 0 -3px inset;
        }

.sub-nav-content {}

    .sub-nav-content__pane {
        display: none;
    }

        .sub-nav-content__pane.active {
            display: block;
            animation: showNavItem .7s;
        }

        @keyframes showNavItem {
            0% { opacity: 0; }
        }

    @media (max-width: 420px) {
        .sub-nav {
            margin-bottom: 24px;
        }

            .sub-nav__link {
                font-size: 16px;
            }
    }

/**
 * Счетчик
 */
.count {
    display: inline-block;
    padding: 0 8px;
    font-size: 10px;
    line-height: 13px;
    border-radius: 9999px;
    color: #fff;
    background-color: #d91a14;
}

/**
 * Боковая навигация
 */
.side-nav {
    margin: 0;
    padding: 2px 0 6px;
    list-style: none;
    font-size: 16px;
    background: #fff;
}

    .side-nav__item {
        color: #18587a;
    }

    .side-nav__link {
        padding: 14px 16px;
        display: block;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        transition: .2s;
    }

        .side-nav__link:hover {
            background-color: rgba(24, 88, 122, 0.08);
        }

    .side-nav__text {
        position: relative;
        background: linear-gradient(90deg, #d91a14, #d91a14) repeat-x left 0 bottom 1px / 100% 1px;
    }

        .side-nav__item_active {
            color: #333e50;
        }

        .side-nav__item_active .side-nav__text {
            font-weight: bold;
            background: 0;
        }

    .side-nav__count {
        margin-left: 8px;
        float: right;
    }

    @media (max-width: 768px) {
        .side-nav {
            padding: 0;
        }

            .side-nav__item {
                display: inline-block;
                vertical-align: top;
            }
    }

    @media (max-width: 420px) {
        .side-nav {
            font-size: 14px;
        }
    }


.logo {
    display: inline-block;
}

    .logo__content {
        display: block;
        width: 147px;
        height: 139px;
    }

.header {
    padding: 28px 0 35px;
}

    .header__inner {
        position: relative;
    }

        .header__inner::after {
            content: "";
            display: table;
            clear: both;
        }

    .header__logo {
        position: absolute;
        left: 17px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .header__contacts {
        margin-bottom: 28px;
        float: right;
        font-size: 21px;
    }

        .contact-link {
            display: inline-block;
            margin: 17px 0 17px 32px;
            position: relative;
            color: inherit;
            text-decoration: none;
        }

            .contact-link svg {
                position: relative;
                top: 0.25em;
                fill: #d91a14;
            }

            .contact-link::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .contact-link:hover {
                color: #d91a14;
            }

            .contact-link_call::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1px;
                height: 1px;
                background: #d91a14;
            }

                .contact-link_call:hover::before {
                    background: transparent;
                }

    .header__menu {
        float: right;
        clear: right;
        font-size: 20px;
    }

        .header__main-menu,
        .header__user-menu {
            display: inline-block;
        }

            .header__main-menu .menu__link {
                padding-left: 0;
                padding-right: 0;
            }

        .header__user-menu {
            margin-left: 107px;
        }

            .header__user-menu .menu__link {
                margin-left: 12px;
            }

                .header__user-menu .menu__link:last-child {
                    padding-right: 0;
                }

    .menu {}

        .menu::after {
            content: "";
            display: table;
            clear: both;
        }

        .menu__link {
            margin-left: 40px;
            position: relative;
            float: left;
            padding: 7px 28px;
            height: 24px;
            line-height: 24px;
            text-decoration: none;
            color: inherit;
        }

            .menu__link-text {
                position: relative;
            }

                .menu__link-text::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 1px;
                    height: 1px;
                    background: #d91a14;
                }

            .menu__link svg {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                display: inline-block;
                color: #d91a14;
                fill: currentColor;
            }

        .menu__link::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .menu__link:hover {
            color: #d91a14;
        }

            .menu__link:hover .menu__link-text::after {
                background: none;
            }

    @media (max-width: 1239px) {
        .header {
            padding-bottom: 28px;
        }

        .header__logo {
            position: static;
            float: left;
        }

        .header__menu {
            padding-top: 28px;
            clear: both;
        }

            .header__menu::after {
                content: "";
                display: table;
                clear: both;
            }

        .header__main-menu {
            float: left;
        }

            .header__main-menu .menu__link {
                margin-left: 0;
                margin-right: 30px;
            }

        .header__user-menu {
            float: right;
            margin-left: 0;
        }

        .menu__link {
            margin-left: 20px;
        }
    }

    @media (max-width: 1100px) {
        .header__menu {
            float: none;
        }
    }

    @media (max-width: 980px) {
        .logo__content {
            width: 100px;
            height: 95px;
        }

        .contact-link {
            margin-top: 12px;
            margin-bottom: 12px;
            float: right;
            clear: both;
        }

        .header__menu {
            padding-top: 0;
        }

        .header__main-menu,
        .header__user-menu {
           float: none;
           display: block;
        }

        .header__user-menu .menu__link {
            margin-left: 0;
        }
    }

    @media (max-width: 680px) {
        .header__menu {
            font-size: 16px;
        }

        .header__main-menu .menu__link {
            margin-right: 20px;
        }
    }

    @media (max-width: 520px) {
        .header__main-menu {
            margin-bottom: 28px;
        }

        .header__main-menu .menu__link {
            margin-right: 0;
            float: none;
            display: block;
        }
    }

    @media (max-width: 480px) {
        .header__contacts {
            font-size: 16px;
        }

        .logo__content {
            width: 80px;
            height: 76px;
        }

        .contact-link {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }

.section {
    padding-top:    40px;
    padding-bottom: 54px;
}

    .section:nth-of-type(odd) {
        background-color: #e8e8e8;
    }

    .section__title {
        margin: 0 0 31px;
        font-size: 40px;
        font-weight: bold;
    }

    .section__title::after {
        content: "";
        margin-top: 24px;
        display: table;
        width: 50px;
        height: 2px;
        background: #d91a14;
    }

    @media (max-width: 980px) {
        .section__title {
            font-size: 32px;
        }
    }

    @media (max-width: 780px) {
        .section__title {
            font-size: 26px;
        }
    }

    @media (max-width: 480px) {
        .section__title {
            font-size: 22px;
        }
    }

.hero-section {
    position: relative;
}

    .section.hero-section {
        background-color: #f7f1f1;
    }

    .hero-section::before,
    .hero-section::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
    }

    .hero-section::before {
        right: 0;
        background: #ede2de;
    }

    .hero-section::after {
        left: 0;
        width: 100%;
        background: url("../img/hero-bg.jpg") no-repeat 100% 0;
        -webkit-background-size: auto 100%;
            background-size: auto 100%;
    }

    .hero-section__title {
        margin: 0;
        position: relative;
        z-index: 1;
        padding: 180px 17px;
        font-size: 66px;
        line-height: 1.32;
        font-style: italic;
        font-weight: 900;
        text-transform: uppercase;
        color: #d91a14;
    }

    @media (max-width: 1239px) {
        .hero-section__title {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    @media (max-width: 980px) {
        .hero-section__title {
            padding-top:    80px;
            padding-bottom: 80px;
            font-size: 48px;
        }
    }

    @media (max-width: 980px) {
        .hero-section__title {
            padding-top:    60px;
            padding-bottom: 60px;
            font-size: 40px;
        }
    }

     @media (max-width: 420px) {
        .hero-section__title {
            padding-top:    30px;
            padding-bottom: 20px;
            font-size: 36px;
        }
    }

.about-section {}

    .about-section__desc {
        margin: 0;
        font-size: 29px;
        line-height: 1.48;
    }

    @media (max-width: 980px) {
        .about-section__desc {
            font-size: 24px;
        }
    }

    @media (max-width: 780px) {
        .about-section__desc {
            font-size: 18px;
        }
    }

     @media (max-width: 480px) {
        .about-section__desc {
            font-size: 14px;
        }
    }

.contractors-section {}

.contractors-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .contractors-list__item + .contractors-list__item {
        margin-top: 15px;
    }

.contractor {
    background-color: #fff;
}

    .contractor__head {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

        .contractor__head > * {
            padding: 17px;
            display: table-cell;
            vertical-align: middle;
        }

        .contractor__person {}

        .contractor-person {
            white-space: nowrap;
        }

            .contractor-person__img {
                margin-right: 12px;
                display: inline-block;
                vertical-align: middle;
                width:  78px;
                height: 78px;
                border-radius: 50%;
                object-fit: cover;
            }

            .contractor-person__desc {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
            }

                .contractor-person__name {
                    font-size: 18px;
                    font-weight: bold;
                }

                .contractor-person__place {
                    margin-top: 8px;
                    color: #979797;
                }

            .contractor__info {
                width: 1px;
            }

            .contractor-meta {
                display: table;
                border-collapse: collapse;
                white-space: nowrap;
            }

                .contractor-row {
                    display: table-row;
                }

                .contractor-meta__key,
                .contractor-meta__value {
                   display: table-cell;
                   vertical-align: top;
                   padding: 5px 9px;
                }

                .contractor-meta__key {
                    color: #979797;
                }

            .contractor__toggle {
                width: 1px;
                padding-left: 63px;
            }

                .contractor__btn {
                    position: relative;
                    display: inline-block;
                    width:  75px;
                    height: 75px;
                    line-height: 69px;
                    text-align: center;
                    border: 3px solid;
                    background: #fff;
                    color: #e8e8e8;
                    cursor: pointer;
                    transition: .2s;
                }

                    .contractor__btn::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border: 14px solid transparent;
                        border-bottom-color: currentColor;
                        border-top: 0;
                    }

                .contractor__btn:hover {
                    color: #d91a14;
                }

    .contractor__body {
        overflow: hidden;
    }

    .contractor__content {
        padding: 17px;
    }

        .contractor__content .tabs-nav {
            /*margin-bottom: 2px;*/
            margin-bottom: 8px;
        }

    .contractor__desc-title {
        margin: 0;
        font-size: 16px;
        line-height: 1.375;
        font-weight: bold;
        color: #979797;
    }

    .contractor__desc {
        margin: 0 0 60px;
        font-size: 14px;
        line-height: 1.57;
    }

    .works-data {
        padding: 30px 17px;
        overflow: auto;
        background-color: #e8e8e8;
    }

        .works-data-table td {
            padding: 9px 0;
            vertical-align: top;
        }

            .works-data-table td:last-child {
                padding-left: 200px;
                padding-right: 20px;
                white-space: nowrap;
            }

        .contractor_state_close {}

            .contractor_state_close .contractor__body {
                display: none;
            }

        .contractor_state_close .contractor__btn {
            background-color: currentColor;
        }

            .contractor_state_close .contractor__btn::before {
                border-bottom: 0;
                border-top: 14px solid #fff;
            }

    @media (max-width: 1200px) {
        .contractor__head {
            position: relative;
            display: block;
            padding-right: 110px;
            width: auto;
        }

        .contractor__head > * {
            display: block;
        }

        .contractor__toggle {
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }

        .contractor-person {
            display: table;
            white-space: normal;
        }

            .contractor-person__desc {
                display: table-cell;
            }

        .contractor__info,
        .contractor-meta {
            width: auto;
            display: block;
            white-space: normal;
        }

        .contractor__info {
            padding-top:    0;
            padding-bottom: 0;
        }

        .contractor-row {
            margin-right: 16px;
            display: inline-block;
        }
    }

    @media (max-width: 780px) {
        .works-data {
            padding-top: 17px;
            padding-bottom: 17px;
        }

        .contractor-person__name {
            font-size: 16px;
        }

        .works-data-table td:last-child {
            padding-left: 20px;
        }

        .contractor__btn {
            width:  64px;
            height: 64px;
        }
    }

    @media (max-width: 480px) {
        .contractor-person__img {
            width:  56px;
            height: 56px;
        }

        .contractor-person__name {
            font-size: 14px;
        }

        .contractor__info {
            padding-bottom: 8px;
        }

        .works-data-table {
            width: 100%;
            font-size: 12px;
        }

        .contractor__btn {
            width:  48px;
            height: 48px;
            opacity: 0.7;
        }
    }

    @media (max-width: 380px) {
        .contractor__head {
            padding-right: 17px;
        }

        .contractor-person__desc {
            display: block;
            padding-top: 8px;
        }

        .works-data-table {
            font-size: 11px;
        }
    }

.projects-section {}

    .projects-section .tabs-nav {
        margin-bottom: 28px;
    }

.media-grid {
    margin-left:  -9px;
    margin-right: -9px;
    font-size: 0;
}

    .media-grid__cell {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: calc(100% / 3);
        padding: 0 9px 18px;
        font-size: 1rem;
        text-align: left;
    }

    @media (max-width: 980px) {
        .media-grid__cell {
            width: 50%;
        }
    }

    @media (max-width: 680px) {
        .media-grid__cell {
            width: 100%;
        }
    }

.media-obj {
    display: block;
    height: 261px;
    background: none no-repeat 50%;
    -webkit-background-size: cover;
            background-size: cover;
}

.contacts-section {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 674px;
    padding-top: 105px;
    padding-bottom: 77px;
    background-image: url("../img/map.jpg");
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}

    .contacts-section__marker {
        top: 0;
        position: absolute;
        bottom: 0;
        margin: auto;
    }

.contacts-block {
    position: relative;
    margin-left: auto;
    width: 60%;
    display: table;
    border-collapse: collapse;
    background-color: #fff;
}

    .contacts-block__info,
    .contacts-block__form {
        width: 50%;
        display: table-cell;
        vertical-align: top;
        padding: 45px 21px;
    }

    .contacts-block__info {
        padding-left:  32px;
        padding-right: 32px;
    }

        .contacts-block__title {
            font-size: 32px;
        }

    .contacts-list {
        margin: 0 0 42px;
        padding: 0;
        list-style-type: none;
    }

        .contacts-list__item {}

        .contacts-list__link {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            color: inherit;
            font-size: 18px;
            line-height: 2.4;
        }

        .contacts-list__link svg {
            position: relative;
            top: 0.25em;
            margin-right: 4px;
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: baseline;
            fill: #e31e24;
        }

            .contacts-list__link:hover {
                color: #e31e24;
            }

    .contacts-list_light {
        margin-bottom: 28px;
    }

        .contacts-list_light .contacts-list__link:not(:hover) svg {
            fill: #b2b2b2;
        }

    .social-list {
        font-size: 0;
    }

        .social-list__item {
            margin-right: 16px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 42px;
            width: 1em;
            height: 1em;
            line-height: 1;
            text-align: center;
            border-radius: 50%;
            background: #e31e24;
            color: #fff;
        }

            .social-list__item::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .social-list__item:hover {
                background-color: #e8e8e8;
                color: #646464;
            }

        .social-list__item svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
            fill: currentColor;
            stroke: currentColor;
        }

        .social-list__item.vk:not(:hover) { background: #4a739f; }
        .social-list__item.fb:not(:hover) { background: #3b579d; }
        .social-list__item.ok:not(:hover) { background: #f58220; }

    .contacts-block__form {
        color: #fff;
        background-color: #e31e24;
    }

    .contacts-block__form .form-field {
        margin-top: 0;
        margin-bottom: 21px;
    }

    .contacts-block__form .form-field__control {
        border: 0;
    }

.contacts-form {}

    .contacts-form__submit {
        margin-top: 33px;
        width: 100%;
        border: 0;
        vertical-align: top;
        font-size: 24px;
        font-weight: bold;
        height: 52px;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
    }

        .contacts-form__submit:hover {
            background-color: #e8e8e8;
        }

    @media (max-width: 1240px) {
        .contacts-section__marker {
            display: none;
        }

        .contacts-section {
            padding-top:    17px;
            padding-bottom: 17px;
            height: auto;
            background-image: none;
        }

        .contacts-block {
            width: 100%;
        }
    }

    @media (max-width: 740px) {
        .contacts-block__info,
        .contacts-block__form {
            display: block;
            width: auto;
            padding: 21px;
        }

        .contacts-form__submit {
            margin-top: 0;
        }

        .contacts-block__title {
            font-size: 22px;
        }

        .contacts-list,
        .social-list {
            display: inline-block;
            vertical-align: top;
        }

        .contacts-list {
            margin-bottom: 21px;
            margin-right: 42px;
        }

            .contacts-list__link {
                font-size: 15px;
            }

        .contacts-form__submit {
            font-size: 16px;
            height: 40px;
        }
    }

.footer {
    padding: 21px 0 22px;
}

.copy {
    font-size: 14px;
}

.password-get {
    margin-bottom: 5px;
}

    .password-get::after {
        content: "";
        display: table;
        clear: both;
    }

    .password-get__control {
        float: left;
        width: 48%;
        font-size: 16px;
        line-height: 24px;
    }

    .password-get__info {
        float: right;
        width: 52%;
        line-height: 1.27;
    }


/* Структура страницы для личного кабинета
   ========================================================================== */

.account-page {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #e8e8e8;
}

    .account-page__header,
    .account-page__footer {
        display: table-row;
        height: 1px;
        background: #fff;
    }

    .account-page__header {
        line-height: 117px;
        box-shadow: 0 25px 29px rgba(0, 0, 0, 0.08);
    }

    .account-page__footer {
        line-height: 67px ;
    }

.account-footer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
           -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

    .account-footer__contacts {
        order: 3;
    }


        .account-footer__contacts > * {
            white-space: nowrap;
            display: inline-block;
            line-height: initial;
        }

    .account-footer__nav {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        order: 2;
    }

        .account-footer__nav-item {
            margin: 0 18px;
            display: inline-block;
            vertical-align: middle;
        }

    .account-footer__copy {
        margin-right: 40px;
        order: 1;
    }

.footer-tel {
    margin: 0 40px;
    text-decoration: none;
    color: inherit;
    line-height: 1;
}

    .footer-tel svg {
        position: relative;
        top: -1px;
        vertical-align: middle;
        fill: #e31e24;
    }

    .footer-tel:hover {
        color: #e31e24;
    }

    @media (max-width: 780px) {
        .account-footer {
                  -webkit-box-pack: center;
           -webkit-justify-content: center;
                     -ms-flex-pack: center;
                   justify-content: center;
        }

        .account-footer__cell {
            margin: 0 auto;
            order: initial;
        }

        .account-footer__copy {
            text-align: center;
            width: 100%;
        }
    }

     @media (max-width: 620px) {
        .account-footer__cell {
            width: 100%;
            text-align: center;
        }
     }

     @media (max-width: 780px) {
        .account-page__footer {
            line-height: 50px;
        }
     }

.account-header {}

    .account-header::after {
        content: "";
        display: table;
        clear: both;
    }

    .account-header__cell {
        display: inline-block;
        vertical-align: middle;
    }

    .account-header__user {
        float: right;
    }

    .account-header__logo {
        margin-right: 37px;
        width: 79px;
        height: auto;
    }

.account-user {}

    .account-user__image {
        margin-right: 6px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
        font-size: 58px;
        width:  1em;
        height: 1em;
        background: #e8e8e8;
        border-radius: 50%;
    }

    .account-user__info {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
    }

    .account-user__name {
        margin-bottom: 7px;
    }

.account-nav {
    font-size: 0;
    text-align: center;
}

    .account-nav__item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        text-decoration: none;
        transition: .2s;
        white-space: nowrap;
    }

    .account-nav__item-inner {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        line-height: 1;
    }

    .account-nav__item-inner::before {
        content: "";
        margin: 0 auto 5px;
        display: block;
        width: 1.25em;
        height: 1em;
        font-size: 40px;
        background: url("../img/menu-sprite.png") no-repeat;
        background-size: 1.25em 4em;
    }

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            .account-nav__item-inner::before {
                background-image: url("../img/menu-sprite@2x.png");
            }
        }

        .account-nav__item_projects .account-nav__item-inner::before { background-position: 0 0; }
        .account-nav__item_contractors .account-nav__item-inner::before { background-position: 0 -1em; }
        .account-nav__item_contacts .account-nav__item-inner::before { background-position: 0 -2em; }
        .account-nav__item_settings .account-nav__item-inner::before { background-position: 0 -3em; }


        .account-nav__item_active {
            background: #e8e8e8;
        }

            .account-nav__item_active::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                margin: auto;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent;
                border-width: 9px 8px 0;
                border-top-color: #e8e8e8;
            }

        .account-nav__item:hover {
            background: #f2f2f2;
        }

            .account-nav__item:hover .text-link::after,
            .account-nav__item_active .text-link::after {
                opacity: 0;
            }


    @media (max-width: 1120px) {
        .account-header {
            line-height: 80px;
        }

        .account-header__logo {
            width: 60px;
        }

        .account-nav__item-inner {
            font-size: 14px;
        }

            .account-nav__item-inner::before {
                font-size: 32px;
            }

        .account-user {
            font-size: 12px;
        }

            .account-user__image {
                font-size: 40px;
            }

            .account-user__name {
                margin-bottom: 4px;
            }
    }

    @media (max-width: 920px) {
        .account-header {
            line-height: initial;
        }

            .account-header__cell {
                padding-top: 12px;
            }

        .account-nav {
            width: 100%;
            max-width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
        }

            .account-nav__item {}

            .account-nav__item-inner {
                display: block;
                height: 100%;
                line-height: 50px;
                white-space: nowrap;
            }

            .account-nav__item-inner::before,
            .account-nav__item-inner .text-link {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
            }

            .account-nav__item-inner::before {
                margin-bottom: 0;
                margin-right: 5px;
            }
    }

.account-content {
    padding-top:    40px;
    padding-bottom: 40px;
}

.account-content-header {
    padding-top:    25px;
    padding-bottom: 35px;
}

    .account-content-header::after {
        content: "";
        display: table;
        clear: both;
    }

    .account-content-header__title {
        margin: 0;
        float: left;
        font-size: 40px;
    }

    .account-content-header__controls {
        float: right;
    }

    @media (max-width: 1120px) {
        .account-content {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .account-content-header__title {
            font-size: 32px;
        }
    }

     @media (max-width: 920px) {

        .account-content-header {
            padding-top:    16px;
            padding-bottom: 16px;
        }

        .account-content-header__title {
            font-size: 28px;
        }
    }


/* Настройки аккаунта
   ========================================================================== */

.account-settings-form {
    padding: 14px 16px;
    font-size: 16px;
    background: #fff;
}

    .account-settings-form .field-grid__cell:first-child {
        padding-right: 80px;
    }


/* Раздел "Связаться с нами"
   ========================================================================== */

.account-contacts {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .account-contacts__main,
    .account-contacts__side {
        display: table-cell;
        vertical-align: top;
    }

    .account-contacts__side {
        padding-left: 20px;
        width: 282px;
        flex: 0 0 auto;
    }

    @media (max-width: 920px) {
        .account-contacts,
        .account-contacts__main,
        .account-contacts__side {
            display: block;
        }

        .account-contacts__side {
            margin-top: 20px;
            padding-left: 0;
            width: auto;
        }
    }

/**
 * Сайдбар со списком контактов
 */
.acc-contacts-side {
    min-height: 100%;
    background: #fff;
}

    .acc-contacts-side__body {
        padding: 24px;
    }

    .acc-contacts-side__foot {
        padding: 20px 24px;
        border-top: 1px solid #e8e8e8;
    }


/**
 * История сообщений
 */
.dialog {
    padding: 16px;
    background: #fff;
}

    .dialog + .dialog {
        margin-top: 8px;
    }

    .dialog__title {
        margin: 0;
        padding: 5px 0 14px;
        font-weight: bold;
        font-size: 20px;
    }

.message {
    padding: 16px 0;
    border-top: 1px solid #e8e8e8;
    overflow: hidden;
}

    .message__img {
        margin: 0 9px;
        float: left;
        width: 44px;
        height: 44px;
        background: #e8e8e8;
        border-radius: 50%;
    }

        .message__img:only-child {
            float: none;
        }

    .message__body {
        display: block;
        overflow: hidden;
        width: auto;
        padding: 15px 0;
    }

    .message__user {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .message__text {
        margin-bottom: 20px;
        line-height: 1.3;
    }

    .message__date {
        font-size: 12px;
        color: #b0b0b0;
    }

    .message:first-of-type {
        border-top: 0;
    }

    .message + .message {
        margin-top: 8px;
    }

    /* сообщение пользователя в диалоге */
    .message:nth-of-type(odd) {}

        .message:nth-of-type(odd) .message__img {
            margin-left: 0;
        }

    /* сообщение администратора в диалоге */
    .message_answer {
        text-align: right;
    }

        .message_answer .message__img {
            margin-right: 0;
            float: right;
        }

    .message_single {
        font-size: 12px;
    }

        .message_single .message__body {
            padding-top: 13px;
        }

        .message_single .message__img {
            width:  34px;
            height: 34px;
        }

        .message_single .message__user {
            margin-bottom: 0;
            float: left;
            font-weight: normal;
        }

        .message_single .message__date {
            float: right;
        }

        .message_single .message__text {
            clear: both;
            padding-top: 48px;
            line-height: 1.67;
        }

            .message_single .message__text p {
                margin: 0;
            }

                .message_single .message__text p + p {
                    margin-top: 16px;
                }

        @media (max-width: 480px) {
            .message_single .message__date,
            .message_single .message__user {
                float: none;
            }

            .message_single .message__date {
                margin-top: 6px;
            }

            .message_single .message__text {
                padding-top: 16px;
            }
        }

/**
 * Форма связи
 */
.contacts-form {
    box-sizing: border-box;
    padding: 24px 16px 0;
    min-height: 100%;
    background: #fff;
}


/* Сообщения. Подрядчики
   ========================================================================== */

.contractors-mail {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .contractors-mail__side,
    .contractors-mail__main {
        display: table-cell;
        vertical-align: top;
    }

    .contractors-mail__side {
        padding-right: 13px;
        width: 214px;
    }

.contractors-mail-toolbar {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

    .contractors-mail-toolbar__part {
        margin: 0 -4px;
        font-size: 0;
    }

        .contractors-mail-toolbar__part > * {
            margin: 4px;
            vertical-align: middle;
            font-size: 14px;
            font-size: 1rem;
        }

    .contractors-mail-toolbar__left {
        float: left;
    }

    .contractors-mail-toolbar__right {
        float: right;
    }

    @media (max-width: 620px) {
       /* .contractors-mail-toolbar__part {
            float: none;
        }*/

        .contractors-mail-toolbar__left .button__text {
            display: none;
        }
    }

.contractors-mail-list {
    margin-bottom: 22px;
}

    .contractors-mail-list__item + .contractors-mail-list__item {
        margin-top: 2px;
    }

@media (max-width: 768px) {
    .contractors-mail,
    .contractors-mail__side,
    .contractors-mail__main {
        display: block;
    }

    .contractors-mail__side {
        margin-bottom: 13px;
        padding: 0;
        width: auto;
    }
}

.message-preview {
    position: relative;
    background: #fff;
}

    .message-preview_unread {
        font-weight: bold;
    }

    .message-preview__control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        width: 48px;
        line-height: 50px;
        text-align: center;
    }

    .message-preview__content {
        padding-left: 48px;
        display: block;
        text-decoration: none;
        color: inherit;
        transition: .2s;
    }

        .message-preview__content:hover,
        .message-preview_checked {
            background: #f8fcfe;
        }

    .message-preview__main {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 50px;
        border-collapse: collapse;
        white-space: nowrap;
    }

    .message-preview__user {
        width: 300px;
        padding: 0 5px;
        display: table-cell;
        vertical-align: middle;
    }

    .message-preview__user-image {
        margin-right: 8px;
        float: left;
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .message-preview__user-name {
        display: block;
        padding: 9px 0 0;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .message-preview__theme {
        padding: 0 10px;
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .message-preview__date {
        padding: 0 17px;
        width: 48px;
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        font-weight: normal;
        color: #b0b0b0;
    }

    @media (max-width: 920px) {
        .message-preview__main,
        .message-preview__user,
        .message-preview__theme,
        .message-preview__date {
            display: block;
            width: auto;
            height: auto;
            padding: 0;
            white-space: normal;
        }

        .message-preview__main {
            padding: 16px 0;
        }

        .message-preview__theme {
            margin-top: 12px;
            line-height: 1.3;
        }

        .message-preview__date {
            margin-top: 12px;
        }

        .message-preview__user {
            overflow: hidden;
        }

    }


/* ==========================================================================
   CSS-утилиты
   ========================================================================== */

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-small {
    font-size: 86%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }